.nav__links{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-family: Avenir LT Std;
}

.nav__links--logo{
    display: flex;
    justify-content: flex-start;
    max-width: 260px;
    max-height: 27px;
    margin: 43px;
}

.nav__links--buttons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.nav__links--register{
    margin: 45px 45px 0px 0px;
    padding: 10px 23px;
    border: solid 2px;
    border-radius: 3px;
    background-color: transparent;
    color: #09de8b;
}

.nav__links--login{
    margin: 45px 20px 0px 0px;
    padding: 10px 23px;
    border: solid 2px;
    border-radius: 3px;
    background-color: transparent;
    color: #00baeb;
}

.nav__links--contact{
    margin: 55px 40px 0px 0px;
}

.nav__links--pricing{
    margin: 55px 40px 0px 0px;
}

.nav__links--features{
    margin: 55px 40px 0px 0px;
}

.nav__links--home{
    margin: 55px 40px 0px 0px;
}

