@font-face {
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-Light.woff2') format('woff2'),
        url('AvenirLTStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

